.gitbook-link {
	display: none !important;
}

.markdown-section {
	color: #333;
	font-family: Open Sans;
	font-size: 12px;
}

.markdown-section img {

}

.book a {
	color: #ac2115;
}

p img {
	width: 80%;
	margin: auto;
}